.login-form
{
    max-width : 324px;
    margin : 10px auto;
}

.login-form .form-group
{
    position: relative;
    margin-bottom: 0px;
}



.login-form input
{
    margin-bottom:10px;
    margin-top;10px;
    
}

body
{
    background: #f8f8f8;
       
}

h2
{
    margin : 10px;
    
}
.login-panel {
    margin-top: 25%;
}

.login-form input:not([type='submit']) + i
{
    float: right;
    position: relative;
    top: -32px;
    right: 10px;
}