/*star bootstrap */

.form-control
{
	position: relative;
}

/* end bootstrap */

/* START LOGIN FORM */
    
body
{
    background: #f4f4f4;
    font-size:16px;
}
.login-form
{
    max-width : 324px;
    margin : 10px auto;
}

.login-form .form-group
{
    position: relative;
    margin-bottom: 0px;
}



.login-form input
{
    margin-bottom:10px;
    margin-top;10px;
    
}

h2
{
    margin : 10px;
    
}
.login-panel {
    margin-top: 25%;
}

.login-form input:not([type='submit']) + i
{
    float: right;
    position: relative;
    top: -32px;
    right: 10px;
}
/* END LOGIN FORM */



/* navbar Start */

.navbar
{
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-brand
{
	font-size:1em;
}


.navbar-brand
{

    font-size: 40px;
    color: white;
    padding: 15px;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-nav>li>.dropdown-menu 
{

    color: #fff;
    background-color: #1abc9c;
}

.dropdown-menu 
{
    min-width: 180px;
    border-radius: 5px;
    padding: 0;
    font-size: 1em;
    border: none;
    border-bottom: 5px;
}

.navbar-nav > li > .dropdown-menu > li > a
{
	color: #fff;
    padding: 10px 15px;	 
}

.navbar-nav > li > .dropdown-menu > li > a:hover
{
	color: #2c3e50; 
    padding: 10px 15px;	 

}

.userToggle
{
	text-transform: capitalize;
}
.form-group
{
	background: none;
}
/* navbar end */

/*start sidebar */

.side-nav li a i
{
	margin: 0px 2px;
}

/*end sidebar */ 

/* Start Members Page */
	
h1
{
	margin : 40px 0;
	font-size: 55px;
	font-weight: bold;
	color: #666;

}

.asterisk
{
    right: 30px;
    position: absolute;
    top: 15px;
    color: #e74c3c;
    font-size: 18px;
}

.fa-eye
{
    position: absolute;
    right: -10px;
    top: 15px;
    font-size: 20px !important;
}

.main-table tr:first-child td
{
    color: #fff;
    background: #222222;
}

.main-table
{
    margin-bottom: 50px;
}
/* End Members Page*/

/* veiw result and print start */

/*#printableArea
{
    background: #fff;
    border: 2px solid #777;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}*/

/* veiw result and print end */


/* search form start */

.reset-margin
{
    background: #31708f;
    border-radius: 4px;
    padding: 11px 10px 2px;
}

.table-responsive {
    overflow-x: visible;
}
/* search form end */
